.button {
    font: inherit;
    padding: 0.5rem 1.5rem;
    border: 1px solid #140b0e;
    border-radius: 4px;
    background: #000000;
    color: white;
    cursor: pointer;
    margin-right: 1rem;
    text-decoration: none;
    display: inline-block;
  }
  
  .button:focus {
    outline: none;
  }
  
  .button:hover,
  .button:active {
    background: #2479aa;
    border-color: #10090b;
  }
  
  .button--inverse {
    background: transparent;
    color: #180e12;
  }
  
  .button--inverse:hover,
  .button--inverse:active {
    color: white;
    background: #140c0f;
  }
  
  .button--danger {
    background: #830000;
    border-color: #830000;
  }
  
  .button--danger:hover,
  .button--danger:active {
    background: #d2c4c4;
    border-color: #1f1010;
  }
  
  .button:disabled,
  .button:hover:disabled,
  .button:active:disabled {
    background: #ccc;
    color: #1a1414;
    border-color: #ccc;
    cursor: not-allowed;
  }
  
  .button--small {
    font-size: 0.8rem;
  }
  
  .button--big {
    font-size: 1.5rem;
  }